@import url('./fonts.css');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

* {
    margin: 0;
    box-sizing: border-box ;
}

.section {
    box-sizing: border-box;
    max-width: 1440px;
    height:569px ;
}

.line {
    box-sizing: border-box;
    width: 100px;
    height: 4px;
    margin: 20px 670px 0px 670px;
    align-items: center;
    background-color: #f5bd41;
    border: none;
}

.section_title {
    font-weight: 500;
    font-size: 40px;
    width: 306px;
    height: 47px;
    padding: 0 16px;
    box-sizing: content-box;
    color: #383838;
   text-align: center;
    line-height: 47px;
    margin: 120px 567px 0 567px ;

}

.img_card_container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;


}

.img_icon {
    padding: 5.5px 104px 0px 103px ;
    margin-bottom: 58px;
}

.img_card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 84px;
    align-items: center;
}

.text {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
    color: #383838;
    line-height: 28px;
}

.footer{
    box-sizing: border-box;
    max-width: 100%;
    height: 625px;
    background-color: #10367C;
    display: flex;
    gap:24px 104px;
    justify-content:space-around ;
    color: #ffffff;
}

.subtitle{
    padding-left:0px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align:left;
    margin-bottom: 24px;
    margin-top: 120px ;
}

.desc-subtitle{
display: flex;
    flex-direction: column;
    row-gap:24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
